{{> head}}
{{> navbar}}

{{#if message}}
  <div class="alert alert-{{message.type}}" role="alert">
    {{message.message}}
  </div>
{{/if}}

<div class="container mt-4">
  {{#if articles}}
  <div class="row main-content">
    <div class="col-4">
      <img src="{{articles.0.image}}" class="img-content img-fluid" alt="">
    </div>
    <div class="col-8">
      <a href="/article/{{articles.0.id}}"></a>
      <div class="text-title-content mb-4">{{articles.0.title}}</div>
      <div class="text-desc-content">
        {{articles.0.content}}
      </div>
    </div>
  </div>
  <div class="row mt-5">
    {{#each articles}}
    <div class="col-3 content-list">
      <a href="/article/{{this.id}}">
        <img src="{{this.image}}" class="img img-fluid" alt="content thumbnail">
        <div class="title mt-3">
          {{this.title}}
        </div>
      </a>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

{{> footer}}